body {
  width: 100%;
  /* max-width: 1920px; */
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: #171717;
  margin-bottom: 238px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  margin: 0 auto;
  align-items: center;
  padding-top: 46px;
}

.button {
  padding: 10px 25px 10px 20px;
  text-decoration: none;
  border: 1px solid #e4b564;
}
.call-image {
  padding-right: 10px;
}
.image-span {
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  color: #e4b564;
}

section {
  width: 100%;
  max-width: 1460px;
  margin-top: 128px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 128px;
}
.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 41px;
}
.proposition {
  max-width: 1460px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 467px);
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
  gap: 25px;
  padding-top: 41px;
  padding-left: 0;
  margin: 0;
  justify-content: center;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
}
.proposition-item1 {
  background: #634f2c;
  grid-area: item1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proposition-item2 {
  background: #b4a385;
  grid-area: item2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 43px 0 43px;
}
.proposition-item3 {
  background: #e4b564;
  grid-area: item3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proposition-item4 {
  background: #635a4a;
  grid-area: item4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proposition-item5 {
  background: #b08c4d;
  grid-area: item5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part2 {
  width: 100%;
  max-width: 1460px;
  margin-bottom: 191px;
}
.own-park {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 161px;
  padding-bottom: 94px;
}
.technique {
  list-style-type: none;
  padding-left: 0;
  height: 850px;
  row-gap: 25px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    "item1 item2 item6"
    "item4 item2 item6"
    "item4 item5 item6"
    "item4 item5 item7"
    "item4 item5 item7";
}
.technique-car1 {
  background: #0e0e0e;
  color: #ffffff;
  grid-area: item1;
  font-size: 20px;
  line-height: 25px;
  padding: 44px 0 0 52px;
}
.car1-kamaz {
  display: block;
}
.car2-kamaz {
  display: block;
}

.technique-car2 {
  background: #242424;
  color: #ffffff;
  grid-area: item2;
  font-size: 20px;
  line-height: 25px;
  padding: 44px 0 0 51px;
}

.technique-car3 {
  color: #ffffff;
  background: #1f1f1f;
  grid-area: item3;
  font-size: 20px;
  line-height: 25px;
  padding: 44px 0 0 48px;
}
.technique-car4 {
  color: #ffffff;
  background: #1f1f1f;
  grid-area: item4;
  font-size: 20px;
  line-height: 25px;
  padding: 56px 0 0 52px;
}
.technique-car5 {
  color: #ffffff;
  background: #e4b564;
  grid-area: item5;
  padding: 47px 0 0 52px;
}
.technique-car6 {
  color: #ffffff;
  background: #0e0e0e;
  grid-area: item6;
  font-size: 20px;
  line-height: 25px;
  padding: 44px 0 0 48px;
}
.technique-car7 {
  color: #ffffff;
  background: #0a0909;
  grid-area: item7;
  font-size: 20px;
  line-height: 25px;
  padding: 44px 0 0 48px;
}

.part3 {
  width: 100%;
  width: 1460px;
  margin-top: 172px;
}
.our-clients {
  display: flex;
  justify-content: space-between;
}
.clients-title {
  color: #ffffff;
  font-size: 50px;
  line-height: 28px;
  font-weight: 700;
}
.clients-title-link {
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 10px 39px 10px 40px;
  border: 1px solid #e4b564;
  margin-bottom: auto;
  text-decoration: none;
  margin-top: 40px;
}
.brands {
  height: 780px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.brand1 {
  background: #634f2c;
  grid-area: item1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}
.brand2 {
  background: rgba(232, 210, 171, 0.76);
  grid-area: item2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  height: 391px;
}

.brand3 {
  background: #e4b564;
  grid-area: item3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}
.brand4 {
  background: #635a4a;
  grid-area: item4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}
.brand5 {
  background: #b08c4d;
  grid-area: item5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}
.brand6 {
  background: #634f2c;
  grid-area: item6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}

.section3 {
  width: 100%;
  max-width: 100%;
  background: #0e0e0e;
  display: flex;
  justify-content: center;
}
